<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email"
                           ngModel
                           name="email"
                           required
                           #email="ngModel"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="email.invalid && email.touched">
                <ion-text color="danger">Email is ongeldig</ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Wachtwoord</ion-label>
                <ion-input type="password"
                           ngModel
                           name="password"
                           required
                           minlength="8"
                           #pass="ngModel"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="pass.invalid && pass.touched">
                <ion-text color="danger">Wachtwoord is ongeldig</ion-text>
            </ion-item>
            <br>
            <ion-button type="submit" expand="block">Login</ion-button>
        </ion-list>
    </form>

</ion-content>
