<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let cp of contactpersonen">
        <ion-card-header [routerLink]="['/contact', cp.id]">
            <ion-card-title>
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <img [src]="cp.imageURL" alt=""/>
                    </ion-avatar>
                    <ion-label>{{cp.name}}</ion-label>
                </ion-item>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item href="mailto:{{cp.email}}">
                    <ion-icon name="mail" slot="start"></ion-icon>
                    <ion-label>{{cp.email}}</ion-label>
                </ion-item>
                <ion-item href="tel:{{cp.phone}}">
                    <ion-icon name="call" slot="start"></ion-icon>
                    <ion-label>{{cp.phone}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>
