<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let cp of contactpersonen" [routerLink]="['/contact', cp.id]">
        <ion-card-header>
            <ion-card-title>
                {{cp.name}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>E-mail: {{cp.email}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Telefoon: {{cp.phone}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>
