<ion-menu side="start" contentId="main" swipeGesture="true" menuId="default">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle menu="default">
                <ion-item [routerLink]="['/home']">
                    <ion-icon name="home"></ion-icon>
                    Home
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle menu="default">
                <ion-item [routerLink]="['/contact']">
                    <ion-icon name="contact"></ion-icon>
                    Contact
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle menu="default">
                <ion-item [routerLink]="['/auth']">
                    <ion-icon name="person"></ion-icon>
                    Login
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
